svg {
    border: 1px solid #ccc;
}

body {
    font: 10px sans-serif;
}

circle.node {
    fill: lightsteelblue;
    stroke: #555;
    stroke-width: 1px;
    pointer-events: all;


}

circle.leaf {
    stroke: #fff;
    stroke-width: 0px;
    pointer-events: all;

}
.nodeIcon{
    pointer-events: all;

    cursor: default;

}

path.hull {
    fill: lightsteelblue;
    fill-opacity: 0.3;
    pointer-events: all;

}

line.link {
    stroke: #333;
    stroke-opacity: 0.5;
    pointer-events: all;
}